---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="flex justify-evenly align-middle bg-amber-500">
			<ul class="flex flex-row justify-between items-center w-full px-4">
				<li><a href="#">Inicio</a> </li>
				<li><a href="#">Inicio</a> </li>
				<li><a href="#">Inicio</a> </li>
				<li><a href="#">Inicio</a> </li>
				<li><a href="#">Inicio</a> </li>
				<li><a href="#">Inicio</a> </li>
				<li><a href="#">Inicio</a> </li>
				
			</ul>
		</div>
		<div class="content" class="bg-amber-900 w-full h-full">
			texto
			contenido
			
		</div>
		<footer class="bg-blue-600">
			<ul>
				<li>intsgram</li>
				<li>facebook</li>
				<li>whatsapp</li>
				<li>discord</li>
				<li>Linkedin</li>
			</ul>
		</footer>
	</body>
</html>
